---
layout: default
---
<main role="main">
  <header>
    <h6 class="f2 pa0 ma0">مقالات</h1>
  </header>
  <div class="pv3">
    {% for post in paginator.posts %}
      <article  class="pv3 bb b--near-white" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <header>
          <h2 class="f5" itemprop="name">
            <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url" class="link blue dim fw4" title="{{ post.title }}">{{ post.title }}</a>
          </h2>
        </header>
        <section class="post-excerpt" itemprop="description">
          <p class="f6">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        </section>
        <div class="f6 fw6 dib">
          نشر بتاريخ <span class="ph1"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y-%m-%d' }}</time>
        </div>
      </article>
    {% endfor %}
  </div>
</main>
{% include footer.html %}