@import 'tachyons/tachyons';
@import url(https://fonts.googleapis.com/earlyaccess/notokufiarabic.css);

amp-img {
  background-color: grey;
}

body {
  background-color: #fff;
  color: #222;
  direction: rtl;
  font-family: 'Noto Kufi Arabic', sans-serif;;
  font-size: 1vw;
  letter-spacing: 0;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.noto-kufi {
  font-family: 'Noto Kufi Arabic', sans-serif;;
}
button, input, optgroup, select, textarea {
  font-family: 'Noto Kufi Arabic',sans-serif;
}
.ltr {
  direction: ltr;
}
.post h2 {
  font-size: 1.3em;
  padding: 40px 0;
}