<header class="nav">
  <a href="/">
    <h3>موقع عبد اللطيف مشبال</h3>
    <p>موقع على الانترنت أشارك فيه بعض مقالاتي</p>
  </a>
</header>
<style>
  header.nav {
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
    margin-bottom: 3rem;
  }
  header.nav a {
    color: #000;
  }
</style>