---
layout: default
---
<article class="post">
  <h1 class="f3 fw6 pb0 lh-copy">{{ page.title }}</h1>
  <span class="f6 fw6 dib">نشر بتاريخ <span class="ph1"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y-%m-%d' }}</time></span></span>
  <div class="pv4 lh-copy">{{ content }}</div>
  <div class="pv4 tc">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="شارك على الفيس بوك" class="link blue dim ph3">شارك على الفيس بوك</a>
    <a class="link blue dim ph3" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}" target="_blank">شارك على تويتر</a>
  </div>
  <a href="/" title="Back to all articles" class="db link blue dim">← الرجوع إلى جميع المقالات</a></div>
</article>